<!-- Name: Ross Taggart -->
<!-- ID: S1828840 -->

<div class="row">
    <div class="col-12">
        <div class="hover-container small-height">
            <div id="collaborator-commit-timeline-chart" style="height:150px;"></div>
        </div>
    </div>
</div>
