<div class="row">
    <div class="col-12 text-center">
        <h2>Individual Result Help</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a class="btn secondary-btn" href="~/resources/files/help/individual_result/Individual_Result_Help.pdf" target="_blank"><span><i class="far fa-file-pdf"></i> PDF</span></a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Below is some frequently asked questions on how to interpret a collaborator’s individual results.</p>
    </div>
</div>

<div class="row">
    <div id="individual-request-results-help-FAQ-selector" class="col-12 clickable">
        <h3>FAQs <span id="individual-request-results-help-FAQ-down-icon"><i class="fas fa-chevron-down"></i></span> <span style="display:none" id="individual-request-results-help-FAQ-up-icon"><i class="fas fa-chevron-up"></i></span></h3>
    </div>
</div>

<div id="individual-request-results-help-FAQ-section" class="row" style="display:none">
    <div class="col-12 base-padding-bottom">
        <ul>
            <li><strong>What is the top-level information for?</strong></li>
            <li><strong>What is the commit timeline?</strong></li>
            <li>
                <strong>What are the contribution gauges for?</strong>
            </li>
        </ul>
    </div>

    <div class="col-12 base-padding-bottom">
        <div class="row">
            <div class="col-12">
                <h4>What is the top-level information for?</h4>
            </div>
            <div class="col-12 text-center">
                <img src="~/resources/images/help/individual_result/topLevelInfo.PNG" />
            </div>
            <div class="col-12">
                <p>The top-level information of the collaborator displays their stats (commits, additions and deletions) compared to the totals of the repository. The gauge chart displays a visual representation of the collaborator’s contribution score out of 100.</p>
            </div>
        </div>
    </div>

    <div class="col-12 base-padding-bottom">
        <div class="row">
            <div class="col-12">
                <h4>What is the commit timeline for?</h4>
            </div>
            <div class="col-12 text-center">
                <img src="~/resources/images/help/individual_result/commitTimeline.PNG" />
            </div>
            <div class="col-12">
                <p>The commit timeline visualises a chronological timeline of a collaborator’s commits for the given request. The tooltip of each commit displays the date and time it was made as well as the author and the message of the commit.</p>
            </div>
        </div>
    </div>

    <div class="col-12 base-padding-bottom">
        <div class="row">
            <div class="col-12">
                <h4>What are the contribution gauges for?</h4>
            </div>
            <div class="col-12 text-center">
                <img src="~/resources/images/help/individual_result/contributionGauges.PNG" />
            </div>
            <div class="col-12">
                <p>The contribution gauges provide a breakdown of each score that makes up the overall contribution score (commit, addition and deletion) in a gauge chart as well as a formula that details how each was calculated.</p>
            </div>
        </div>
    </div>
</div>
