<div id="single-request-result">
    <div class="row">
        <div class="col-12 text-center">
            <h2 id="single-request-result-author-name"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button id="back-to-overview-btn" class="btn secondary-btn">< Back to Overview</button>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="hover-container small-height">
                <div id="author-icon">

                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="hover-container small-height">
                <div id="author-top-level-stats" class="row">

                </div>
            </div>
        </div>
    </div>
</div>