
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-request">
    <div id="request-builder">
        @await Html.PartialAsync("~/Views/Request/Partials/Request_Builder/_RequestBuilder.cshtml")
    </div>

    <div id="all-request-results-container" style="display:none">
        @await Html.PartialAsync("~/Views/Request/Partials/All_Request_Results/_AllRequestResults.cshtml")
    </div>

</div>

<div id="single-request-result-container" style="display:none">
    @await Html.PartialAsync("~/Views/Request/Partials/Single_Request_Results/_SingleRequestResult.cshtml")

    @await Html.PartialAsync("~/Views/Request/Partials/Collaborator_Commit_Timeline/_Colloborator_Commit_Timeline.cshtml")
</div>

@await Html.PartialAsync("~/Views/Request/Partials/_RequestModals.cshtml")