<div class="row">
    <div class="col-4">
        <div class="hover-container">
            <div id="commit-score-gauge">

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="hover-container">
            <div id="add-score-gauge">

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="hover-container">
            <div id="del-score-gauge">

            </div>
        </div>
    </div>
</div>
