@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Honours Project</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col-12 basic-bottom-spacing">
        <span>
            <strong>Project Title: </strong>
            Development of a tool to assess student groupwork contributions through GitHub activity
        </span>
    </div>

    <div class="col-12 basic-bottom-spacing">
        <span>
            <strong>Name: </strong>
            Ross Taggart
        </span>
    </div>

    <div class="col-12 basic-bottom-spacing">
        <span>
            <strong>Programme: </strong>
            Computing
        </span>
    </div>

    <div class="col-12 basic-bottom-spacing">
        <span>
            <strong>Matriculation Number: </strong>
            S1828840
        </span>
    </div>

    <div class="col-12 basic-bottom-spacing">
        <span>
            <strong>Supervisor: </strong>
            James Paterson
        </span>
    </div>
</div>