/*
    Name: Ross Taggart
    ID: S1828840
*/

//! Section: Contents

    /*
     * - Variables
     *      - primary
     *      - secondary
     *      - warn
     *      - background
     *      - background-accent
     *      - orange-accent
     * - Tag Styles
     *      - body
     *      - nav
     *      - h2
     *      - img
    */

//! END Section: Contents

//! Section: Variables

/* Main Colours */

$primary: rgb(156,39,176); /* Purple */

$secondary: rgb(105,240,174); /* Green/Blue */

$warn: rgb(244,67,54); /* Red */

$background: rgb(48,48,48); /* Black variation */

/* END: Main Colours */


/* Accent Colours */

$background-accent: rgb(66,66,66); /* Dark Grey */

$orange-accent: rgb(255,213,79);

/* END: Accent Colours */

//! END Section: Variables

//! Section: Tag Styles

// body - Styles to apply to the main body tag
body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: $background !important;
    color: rgb(255,255,255) !important;
    font-family: 'Open Sans', sans-serif;
}

// nav - Styles to apply to nav tags
nav {
    background-color: $primary !important;
}

// h2 - Styles to apply to h2 tags
h2 {
    font-family: 'Roboto', sans-serif;
}

// img - Styles to apply to img tags
img {
    max-width: 100% !important;
}

//! END Section: Tag Styles

//! Section: Class Styles

// body-content - Style that applies padding to the entire application
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

// base-padding-bottom - Style that applies padding to the bottom of the application
.base-padding-bottom {
    padding-bottom: 10px;
}

// carousel-caption p - Style that applies to p tags of the carousel-caption class
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

// carousel-inner item img - Style that applies width to the carousel-inner
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

// Hide/rearrange for smaller screens
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

// hover-container - Styles for the card display used throughout the request system
.hover-container {
    background: $background-accent !important;
    color: rgb(255,255,255) !important;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// secondary-btn - Styles that apply to the secondary button of the application
.secondary-btn {
    background-color: $secondary;
    color: rgb(255,255,255);
}

// primary-btn - Styles that apply to the primary button of the application
.primary-btn {
    background-color: $primary;
    color: rgb(255,255,255);
}

// warn-btn - Styles that apply to the warning button of the application
.warn-btn {
    background-color: $warn;
    color: rgb(255,255,255);
}

// o-accent - Styles that apply to the orange accent colour
.o-accent {
    color: $orange-accent !important;
}

// warn-text - Styles that apply red to the text
.warn-text {
    color: $warn;
}

// secondary-text - Styles that apply green to the text
.secondary-text {
    color: $secondary;
}

// primary-text - Styles that apply purple to the text
.primary-text {
    color: $primary;
}

// modal - Change the text colour used in a modal to black
.modal {
    color: black !important;
}

// tooltip-inner - Overwrite the tootltips to use a dark theme 
.tooltip-inner {
    background-color: rgb(255,255,255);
    color: $background-accent !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: rgb(255,255,255) !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: rgb(255,255,255) !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: rgb(255,255,255) !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: rgb(255,255,255) !important;
}

// daterangepciker - Change the text colour used in the daterangepicker to black
.daterangepicker {
    color: black !important;
}

// small-height - Class that defines a pre-defined height for certain elements
.small-height {
    height: 200px;
}

// medium-height - Class that defines a pre-defined height for certain elements
.medium-height {
    height: 350px;
}

// warn-border - Class that defines a red border
.warn-border {
    border: 1px solid $warn;
}

// clickable - Class that signifies to a user that an item is clickable
.clickable {
    cursor: pointer !important;
}

//! Section: Class Styles