<!-- Name: Ross Taggart -->
<!-- ID: S1828840 -->

<div class="row">
    <div class="col-6">
        <div class="hover-container medium-height">
            <div id="result-commit-stat-item-chart" style="height: 300px;">

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="hover-container medium-height">
            <table style="color: rgb(255,255,255) !important;" class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Commit Count</th>
                    </tr>
                </thead>
                <tbody id="result-commit-stat-table"></tbody>
            </table>
        </div>
    </div>
</div>
